:root{
    --background-color: black;
    --text-color:white;
}

body{
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.column1, 
.column2{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.column1{
    align-items: flex-end;
}

.column2{
    align-items: flex-start;
}